@page "/"

@inject NavigationManager NavManager


@using System.Net.Http
@using Autorola_Technical_home_assignment.Data;
@using Newtonsoft.Json
@using System.Threading.Tasks
@using Microsoft.AspNetCore.Components.Forms
@using System.ComponentModel.DataAnnotations


<PageTitle>ME2E</PageTitle>

<EditForm Model=@filterModel OnSubmit=@SubmitForm >
    <DataAnnotationsValidator />
    <div class="w-100 bg-image-01">
          <div class="container">
            <div class="row py-4">
              <!--- headline --->
              <div class="col-12 px-2 pt-2 pb-4 text-center">
                <p class="fs-3 fw-light text-white mb-1">
                  Used vehicles that fit your dealership
                </p>
              </div>
              <!--- !! --->

              <!--- aut-search --->
              <div class="col-12">
                <div class="row px-1">
                  <div class="col-12 col-md-6 col-lg-4 px-1">
                            <InputSelect
                            class="form-control"
                            id="makesDropdown"
                            placeholder="Test"
                            data-width="100%"
                            multiple
                            title="Any make"
                            @bind-Value="filterModel.SelectedMake"
                            >
                                    @foreach (var make in filterResponse.Filters.First(f => f.Name == "makes").Data)
                                    {
                                        <option value="@make.Key">@make.Value</option>
                                    }
                            </InputSelect>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 px-1">
                                <InputSelect
                                class="form-control"
                                id="fuelTypeDropdown"
                                data-width="100%"
                                         placeholder="Test"
                                multiple
                                title="Any fuel type"
                                @bind-Value="filterModel.SelectedFuelType">
                                    @foreach (var fuelType in filterResponse.Filters.First(f => f.Name == "fuelTypes").Data)
                                    {
                                        <option value="@fuelType.Key">@fuelType.Value</option>
                                    }
                            </InputSelect>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 px-1">
                                <InputSelect
                                class="form-control"
                                id="countryDropdown"
                                data-width="100%"
                                placeholder="Test"
                                multiple
                                title="Any country"
                                @bind-Value="filterModel.SelectedCountry">
                                @foreach (var country in filterResponse.Filters.First(f => f.Name == "countries").Data)
                                    {
                                        <option value="@country.Key">@country.Value</option>
                                    }
                            </InputSelect>
                            </div>
                            <div class="col-12 px-1 py-3 text-center">
                                <button
                                class="btn btn-lg btn-primary px-5"
                                type="submit"
                                >
                                    Show 2,997<i class="fas fa-car-side ms-2"></i>
                                </button>
                            </div>
                            </div>
                            </div>
            </div>
          </div>
        </div>
       </EditForm>

        <!--------------------------------------------- // --------------------------------------------->

        <Auctions />

@code {
    private FilterResponse filterResponse;
    
    FilterModel filterModel = new FilterModel();

    public class FilterModel
    {
        public string SelectedMake { get; set; }
        public string SelectedFuelType { get; set; }
        public string SelectedCountry { get; set; }
    }


    protected override async Task OnInitializedAsync()
    {
        string fileName = @"C:\Users\Porija\source\repos\Autorola Technical home assignment\filters.json";

        string json = File.ReadAllText(fileName);
        filterResponse = JsonConvert.DeserializeObject<FilterResponse>(json);
    }

    void SubmitForm(EditContext editContext)
    {
        var parameters = new Dictionary<string, string>();

        if (!string.IsNullOrEmpty(filterModel.SelectedMake))
            parameters["makes"] = filterModel.SelectedMake;

        if (!string.IsNullOrEmpty(filterModel.SelectedFuelType))
            parameters["fuelTypes"] = filterModel.SelectedFuelType;

        NavManager.NavigateTo($"vehicles/?{ToQueryString(parameters)}");
    }

    private string ToQueryString(Dictionary<string, string> parameters)
    {
        return string.Join("&", parameters.Select(kvp => $"{kvp.Key}={kvp.Value}"));
    }
}





